<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-smartfolders</string>
	<key>category</key>
	<string>Paths</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47F1A79A-3474-47DB-85EC-3F8331A9D8C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9459D35C-F547-47BD-A653-DD13B720AAE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7C5A929-40FB-4DD6-9CFF-F6088EDD67FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A638C7EA-611B-4763-82A3-BAD1FA118C27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB4EC501-2923-46A3-9A9E-8DC666CBCD18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC58D6B6-6633-41F9-941E-579F29E55D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47F1A79A-3474-47DB-85EC-3F8331A9D8C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B49876CB-97E0-4C3A-A840-1FAEF0654ECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB4EC501-2923-46A3-9A9E-8DC666CBCD18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB4EC501-2923-46A3-9A9E-8DC666CBCD18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47F1A79A-3474-47DB-85EC-3F8331A9D8C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Browse Smart Folder in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Smart Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.sf</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Rummaging through your stuff …</string>
				<key>script</key>
				<string>./smartfolders.py "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search for and Browse Smart Folders</string>
				<key>title</key>
				<string>Smart Folders</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB4EC501-2923-46A3-9A9E-8DC666CBCD18</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A638C7EA-611B-4763-82A3-BAD1FA118C27</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>reload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9459D35C-F547-47BD-A653-DD13B720AAE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo 🍺 &gt;&amp;2

set -e

folder="$1"
out="${alfred_workflow_cache}/folders.txt"
lock="${alfred_workflow_cache}/reload.lock"

if [[ -f "$lock" ]]; then
	echo "reload already running" &gt;&amp;2
	exit 0
fi

# ensure lockfile is deleted after run
TRAPEXIT() { rm -vf "$lock" "$tmp" &gt;&amp;2 }

args=(--cache)
if [[ -n "$folder" ]]; then
	args+=(--folder "$folder")
fi

python3 smartfolders.py $args</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7C5A929-40FB-4DD6-9CFF-F6088EDD67FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading your stuff ...</string>
				<key>script</key>
				<string># Use: ./smartfolders.py search -f 'NAME_OF_YOUR_SMART_FOLDER' "$1" to
# directly search a specific Smart Folder.
# You can use the name of *any* Smart Folder on your system.
# You only need the name, not the full path

./smartfolders.py -f 'TODO' "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Example search of specific Saved Search</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e

echo "🍺" &gt;&amp;2

if [[ $# -eq 2 ]] &amp;&amp; [[ "$1" == "action" ]]; then
	action="$2"
	case "$2" in
        reload)
			/usr/bin/open alfred://runtrigger/net.deanishe.alfred-smartfolders/reload/
			/usr/bin/open alfred://runtrigger/net.deanishe.alfred-smartfolders/search/
			exit 0
			;;
		help)
			/usr/bin/open Help.html
			exit 0
			;;
       	  \?) echo "invalid action: $2" &gt;&amp;2; exit 1;;
	esac
	exit 0
fi

if [[ -e "$1" ]]; then
	/usr/bin/open "$1"
	exit 0
fi

./smartfolders.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47F1A79A-3474-47DB-85EC-3F8331A9D8C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B49876CB-97E0-4C3A-A840-1FAEF0654ECB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>.dl</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading your stuff ...</string>
				<key>script</key>
				<string># Use: ./smartfolders.py search -f 'NAME_OF_YOUR_SMART_FOLDER' "$1" to
# directly search a specific Smart Folder.
# You can use the name of *any* Smart Folder on your system.
# You only need the name, not the full path

./smartfolders.py -f 'Downloaded Movies' "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Downloaded Movies</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC58D6B6-6633-41F9-941E-579F29E55D24</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quick access to your Smart Folders (Saved Searches) in Alfred.

Please see the included help (keyword .sfhelp) for more information.</string>
	<key>uidata</key>
	<dict>
		<key>47F1A79A-3474-47DB-85EC-3F8331A9D8C1</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>9459D35C-F547-47BD-A653-DD13B720AAE9</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A638C7EA-611B-4763-82A3-BAD1FA118C27</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>AC58D6B6-6633-41F9-941E-579F29E55D24</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B49876CB-97E0-4C3A-A840-1FAEF0654ECB</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>B7C5A929-40FB-4DD6-9CFF-F6088EDD67FD</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>DB4EC501-2923-46A3-9A9E-8DC666CBCD18</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>3.0</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-smartfolders</string>
</dict>
</plist>
